.promo {
  background-image:
    linear-gradient(
      to bottom,
      #162f59,
      ease-in-out,
      #020616
    );
  height: 100vh;
  position: relative;

  &__canvas {
    width: 100%;
    // height: 100%;
  }
}