mixin scroll-link(text, url, mods)

  //- Param:
    text    {string} - link text
    url     {string} - href
    mods    {string} - modifiers

  //- Use:
    +scroll-link('Title', '#url')

  -
    // modifiers

    var allMods = '';
    if mods
      var modsList = mods.split(',');

      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-scroll-link--' + modsList[i].trim();
      }

  a.s-scroll-link(class=allMods, href=url, data-scroll-link='')&attributes(attributes)= text
